<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/index.css">
  <title>Sachin</title>
</head>

<body>
  <div class="main">
    <nav class="navbar">
      <ul class="navbar">
        <li><a href="">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Education</a></li>
        <li><a href="">Skills</a></li>
        <li><a href="">Contact Us</a></li>
      </ul>
    </nav>
    <div class="contaner">
      <div class="box1">
        <div class="heder">
          <h2>I,M Sachin kumar</h2>
        </div>

        <div class="text">
          <p>This is my official Portfolio websitr to showcase my all Project and work related development and UI
            design.</p>
        </div>

        <div class="button"><a href="sachin_resume.pdf">
            <button class="btn">CV</button>

          </a><a href="">
            <button class="btn">Project</button>
          </a>
        </div>
        <div class="contact">
          <a href="">
            <img src="github.png" alt="">
          </a>
          
          <a href="">
            <img src="linked.png" alt="">
          </a>

          <a href="">
            <img src="instagram.png" alt="">
          </a>
        </div>
      </div>
      <div class="box2">
        <img src="fevicon.png" alt="">
      </div>

    </div>

    <footer></footer>
  </div>
</body>

</html>