<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/stylesheets/education.css">
  <link rel="stylesheet" href="/stylesheets/about.css">
  <link rel="stylesheet" href="stylesheets/feture.css">
  <link rel="stylesheet" href="/stylesheets/contact.css">
  <title>Sachin</title>
</head>

<body class="background">

  <div class="main">
    <h2 class="font font_color hedname">Web Developer</h2>
    <nav class="navbar h-nav">
      <ul class="navbar nav-list v-class">
        <li><a href="/">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#service">Service</a></li>
        <li><a href="#education">Education</a></li>
        <li><a href="#contact">Contact Us</a></li>
      </ul>

      <div class="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </nav>
    <div class="contaner">
      <div class="box1">
        <div class="hed">
          <div class="inline-paragraphs">
            <p>I am</p>
            <p class="font font_color">Sachin kumar</p>
          </div>

        </div>
        <div class="text">
          <p class="font font_color ">Coder | Developer | UI / UX Designer</p>
          <p class="font">Pursuing BCA(Bachelor of Computer Applications) @ Maulana Mazharul Haque Arabic and Persian
            University patna |C++ , Nodejs, Computer Network , DBMS , DSA</p>
        </div>

        <div class="iconcontact">
          <div class="icon">
            <a href="https://github.com/Sachin8757">
              <i class="fa-brands fa-github"></i>
            </a>
          </div>
          <div class="icon">
            <a href="https://www.linkedin.com/in/sachin-kumar-187865302">
              <i class="fa-brands fa-linkedin"></i>
            </a>
          </div>
          <div class="icon">
            <a href="https://www.instagram.com/me.sachin____?igsh=MWh2aTFibXQ4Y2gxdA==&utm_source=ig_contact_invite">
              <i class="fa-brands fa-instagram"></i>
            </a>

          <a href="/project">
            <button class="font btn">My projects</button>
          </a>
        
          </div>
        </div>

      </div>
      <div class="box2">
        <div class="pic">
          <img src="/images/sachin.png" alt="" class="hh">
        </div>
      </div>
    </div>
    <!-- education part -->
    <div class="edu" id="education">
      <h4 class="font font_color edfont">Education</h4>
      <h1 class="edfont">My Education Life</h1>
      <div class="education">
        <div class="edbox1">

          <button class="edbtn font_color font shadow1" id="btn10">10th</button>
          <button class="edbtn font_color font shadow2" id="btn12">12th</button>
          <button class="edbtn font_color font shadow3" id="btnBCA">BCA</button>

        </div>
        <div class="edbox2">
          <div class="edubox1" id="edubox1">
            <table>
              <tr>
                <th class="font_color">SCHOOL</th>
                <td>DAV High School Gopalganj</td>
              </tr>
              <tr>
                <th class="font_color">Session</th>
                <td>2018 - 2020</td>
              </tr>
              <tr>
                <th class="font_color">Marks</th>
                <td>387</td>
              </tr>
              <tr>
                <th class="font_color">Percentage</th>
                <td>77.4%</td>
              </tr>
            </table>

          </div>
          <div class="edubox2" id="edubox2">
            <table>
              <tr>
                <th class="font_color">SCHOOL</th>
                <td>Kamla Ray college Gopalganj</td>
              </tr>
              <tr>
                <th class="font_color">Session</th>
                <td>2020 - 2022</td>
              </tr>
              <tr>
                <th class="font_color">Marks</th>
                <td>354</td>
              </tr>
              <tr>
                <th class="font_color">Percentage</th>
                <td>70.8%</td>
              </tr>
            </table>
          </div>
          <div class="edubox3" id="edubox3">
            <table>
            <tr>
              <th class="font_color">SCHOOL</th>
              <td>MMHA&PU PATNA</td>
            </tr>
            <tr>
              <th class="font_color">Session</th>
              <td>2022 - 2025</td>
            </tr>
            <tr>
              <th class="font_color">Marks</th>
              <td>Pursuing</td>
            </tr>
            <tr>
              <th class="font_color">Percentage</th>
              <td>Pursuing</td>
            </tr>
          </table></div>

        </div>
      </div>
    </div>
    <!-- service -->
    <div class="feature " id="service">
      <h4 class="font font_color edfont">Service</h4>
      <div class="card">
        <div class="feture1 ">
          <i class="fa-solid fa-code fetureicon"></i>
          <h2 class="font font_color">Coder</h4>
        </div>
        <div class="feature2">
          <i class="fa-solid fa-code fetureicon"></i>
          <h2 class="font ">Web Developer</h4>
        </div>
        <div class="feture1">
          <i class="fa-solid fa-square-plus fetureicon"></i>
          <h2 class="font font_color">Creative Design</h4>
        </div>
      </div>

    </div>
    <!-- about part -->
    <div class="about " id="about">
      <h4 class="font font_color edfont">About</h4>
      <h1 class="edfont">Sachin kumar</h1>
      <div class="aboutbox">
        <p class="font abouttext">Hi, I'm Sachin Kumar, a passionate and motivated full-stack web developer with a strong foundation in C++, data structures and algorithms (DSA), and object-oriented programming (OOP). I'm currently pursuing a Bachelor of Computer Application (BCA) from Maulana Mazharul Haque Arabic & Persian University in Patna.

          My focus is on building clean, efficient, and user-friendly web applications using modern technologies like HTML, CSS, and Node.js. I've developed projects such as my portfolio website and a travel web app called Wanderlust, which reflect my ability to create responsive and functional user interfaces.
          
          I'm always eager to learn and take on new challenges that help me grow as a developer and contribute meaningfully to the success of any organization I work with.</p>
      </div>
    </div>
    <!-- contact part -->
    <div class="contact " id="contact">
      <h4 class="font font_color edfont">contact Me</h4>
      <div class="contactbox">

        <div class="contaciocon">

          <div class="conicon">
            <div class="cicon">
              <i class="fa-solid fa-location-dot contacticon"></i>
            </div>
            <div class="conword">
              <h3>Location</h3>
              <p class="font_color">Bahora tola Gopalganj 841428</p>
            </div>
          </div>

          <div class="conicon">
            <div class="cicon">
              <i class="fa-solid fa-paper-plane contacticon"></i>
            </div>
            <div class="conword">
              <h3>Email</h3>
              <p class="font_color">sachin875788@gmail.com</p>
            </div>
          </div>

          <div class="conicon">
            <div class="cicon">
              <i class="fa-solid fa-phone contacticon"></i>
            </div>
            <div class="conword">
              <h3>Call</h3>
              <p class="font_color">8757887103</p>
            </div>
          </div>
        </div>


        <!-- contact card -->
        <div class="contaccard">
          <form action="/contact" method="post" >
            <input type="text" name="namee" placeholder="Name" class="input font_color" required>
            <input type="text" name="email" placeholder="Email" class="input font_color input" required>
            <input type="text" name="yourtext" placeholder="Yout Text" class="textarea font_color input" required>
            <button class="submitbtn">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <!-- footer -->
    <footer class="foter">
      <p class="text-footer">
        copyright &copy; 2025 www.sachin-o8w0.onrender.com- All rights reserved
      </p>
    </footer>
  </div>

  <script src="/javascripts/mainjs.js"></script>

  <script>
    // Get the buttons and divs
    const btn10 = document.getElementById("btn10");
    const btn12 = document.getElementById("btn12");
    const btnBCA = document.getElementById("btnBCA");
    const edubox1 = document.getElementById("edubox1");
    const edubox2 = document.getElementById("edubox2");
    const edubox3 = document.getElementById("edubox3");

    // Function to show the selected div and hide the others
    function showDiv(selectedDiv) {
      edubox1.style.display = "none";
      edubox2.style.display = "none";
      edubox3.style.display = "none";

      selectedDiv.style.display = "block";
    }

    // Add event listeners to buttons
    btn10.addEventListener("click", () => showDiv(edubox1));
    btn12.addEventListener("click", () => showDiv(edubox2));
    btnBCA.addEventListener("click", () => showDiv(edubox3));
  </script>

</body>

</html>