<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <title>Sachin</title>
</head>

<body class="background">
  <div class="main">
    <nav class="navbar h-nav">
      <ul class="navbar nav-list v-class">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/skills">Skills</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>

      <div class="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </nav>


    <div class="contaner">

      <div class="box1">
        <div class="hed">
          <h2>I,M Sachin Kumar</h2>
          
        </div>
        <div class="text">
          <p>This is my official Portfolio website to showcase my all Project and work related development and UI
            design.</p>
        </div>
        <div class="button">
          <a href="/resume">
            <button class="btn">CV</button>
          </a><a href="/project">
            <button class="btn">Project</button>
          </a>
        </div>

        <div class="contact">
          <a href="https://github.com/Sachin8757?tab=repositories">
            <img src="/images/github.png" alt="">
          </a>
          <a href="https://www.linkedin.com/in/sachin-kumar-187865302/">
            <img src="/images/linked.png" alt="">
          </a>
          <a href="https://www.instagram.com/sachin_babu_sachin_?igsh=NjFqZWRveThsMHc4">
            <img src="/images/instagram.png" alt="">
          </a>
        </div>
      </div>


      <div class="box2">
        <div class="pic">
          <img src="/images/sachin.jpg" alt="" class="hh">
        </div>

      </div>

    </div>

    <footer class="foter">
      <p class="text-footer">
          copyright &copy; 2023 www.sachin- All rights reserved
      </p>
  </footer>
  </div>
  <script src="/javascripts/mainjs.js"></script>
</body>

</html>