<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/project.css">
    <title>Sachin</title>
</head>

<body>
    <div class="main">
        <div class="box">
            <div class="card">
                <img src="/images/wandlust.jpg" alt="" class="pic">
                <h2 class="heder">Wandlust</h2>
                <div class="buttom">
                    <a href="https://github.com/Sachin8757/wanderlust" class="subheder">gitHub</a>
                    <a href="https://wanderlust-wahm.onrender.com" class="subheder">live Project</a>
                </div>

            </div>
            <div class="card">
                <img src="/images/explorehub.webp" alt="" class="pic">
                <h2 class="heder">ExploreHub</h2>
                <div class="buttom">
                    <a href="https://github.com/Sachin8757/ExploreHub" class="subheder">gitHub</a>
                    <a href="https://explorehub-pffi.onrender.com" class="subheder">live Project</a>
                </div>

            </div>
            <div class="card">
                <img src="/images/pathsala.jpg" alt="" class="pic">
                <h2 class="heder">Paathshala</h2>
                <div class="buttom">
                    <a href="https://github.com/Sachin8757/pathshala" class="subheder">gitHub</a>
                    <a href="https://pathshala-tooo.onrender.com" class="subheder">live Project</a>
                </div>

            </div>
            <div class="card">
                <img src="/images/foodfashion.jpg" alt="" class="pic">
                <h2 class="heder">foodfashion</h2>
                <div class="buttom">
                    <a href="https://github.com/Sachin8757/foodfashion" class="subheder">gitHub</a>
                    <a href="https://foodfashion.onrender.com" class="subheder">live Project</a>
                </div>

            </div>


        </div>
    </div>
</body>

</html>