<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/project.css">
    <title>Sachin</title>
</head>

<body>
    <div class="main">
    <div class="box">
        <% projects.forEach(function(project) { %>
            <div class="card">
                <img src="<%= project.image%>" alt="" class="pic">
                <h2 class="heder"><%= project.title %></h2>
                <div class="buttom">
                    <a href="<%= project.github%>" class="subheder">gitHub</a>
                    <a href="<%= project.live %>" class="subheder">live Project</a>
                </div>
            </div>
        <% }); %>

            </div>


        </div>
    </div>
</body>

</html>