<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/skill.css">
    <title>Skills</title>
</head>
<body class="background">
    <div class="main">
        <div class="about">
            <div class="box">
                <h2>My Skills</h2>
                <ul>
                    <li>Java</li>
                    <li>DSA(Data Structure and Algorithms)</li>
                    <li>C++</li>
                    <li>C Language</li>
                    <li>OPPS(Object-oriented programming)</li>
                    <li>MERN Stack</li>
                    <li>DataBase</li>
                    
                
                </ul>
            </div>
           
        </div>
    </div>
</body>
</html>