

/* 🔹 CONTACT */
.contact {
  padding: 50px 21%;
}



.input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: none;
}

.submitbtn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: white;
  color: #4f46e5;
  font-weight: bold;
}


.contactbox {
  display: flex;
  gap: 30px;

}
.contaciocon{
  display: flex;
}

.textarea{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: none;
}




/* 🔹 TABLET */
/* @media (max-width: 768px) {
width: 500px;

}

/* 🔹 MOBILE */
@media (max-width: 500px) {
.textarea{
  width: 245px;
}
} */