.edu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
   
}
.edfont{
    margin-bottom: 50px;
}
.education{
    width: 40%;
}
.education{
    display: flex;
    flex-direction: row;
}
.edbox1{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.edbox2{
    width:60%;
 background-color: white;   
}
.edbtn{
    width: 45%;
    height: 10%;
    margin: 10px;
    
}