
/* 🔹 CARDS */
.qualification-cards,
.card {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
}

.qualification-card,
.feture1,
.feature2 {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 15px;
  width: 260px;
  transition: 0.3s;
}

.qualification-card:hover,
.feture1:hover,
.feature2:hover {
  transform: translateY(-10px);
}
.qualification-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}